@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Sora", sans-serif;
    line-height: 1.25;
    font-weight: 400;
    letter-spacing: -7.5% !important;
}

@media screen and (max-width: 800px) {
    * {
        letter-spacing: -5% !important;
    }
}


a {
    text-decoration: none;
    color: inherit;
}

body,
html {
    height: 500vh;
    scroll-behavior: smooth !important;
    /* background: linear-gradient(120deg, yellow, orange, purple); */
}

body::-webkit-scrollbar {
    display: none;
}

/* preloader */
.preloader {
    position: fixed;
    inset: 1rem;
    width: calc(100% - 2rem);
    height: calc(100dvh - 2rem);
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
    transform: translateY(0);
    transition: transform 1.2s cubic-bezier(.76, 0, .24, 1);
    border: 5px solid black;
}

.preloader-container {
    position: relative;
    width: 80vw;
    min-height: 15vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid yellow; */
    background: whitesmoke;
}

.preloader-container h2 {
    position: absolute;
    left: 1rem;
    margin: 0;
    font-size: 13vw;
    line-height: 1;
    white-space: nowrap;
    z-index: 1;
    transform: translateX(-150%);
    animation:
        textEnter 1s cubic-bezier(.76, 0, .24, 1) forwards,
        textDisappear 1s cubic-bezier(.76, 0, .24, 1) 2s forwards;
}

.preloader-container h5 {
    font-size: 13vw;
    position: absolute;
    height: 100%;
    right: 0;
    width: 120vw;
    border-left: 5px solid black;
    background: whitesmoke;
    z-index: 2;
    transform: translateX(150%);
    animation:
        borderEnter .5s cubic-bezier(.76, 0, .24, 1) forwards,
        borderExit 1s cubic-bezier(.76, 0, .24, 1) 2s forwards, borderLeft .5s ease 2.75s forwards;
}

@keyframes textEnter {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes textDisappear {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(250%);
    }

}

@keyframes borderEnter {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(99%);
    }
}

@keyframes borderExit {
    0% {
        transform: translateX(99%);
    }

    100% {
        transform: translateX(-0%);
    }
}

.preloader.hide {
    transform: translateY(-200dvh);
}

@media screen and (max-width: 1700px) {
    .preloader-container h5 {
        border-left: 3.5px solid black;
    }

    .preloader {
        border-width: 3.5px;
    }
}

@media screen and (max-width: 800px) {
    .preloader-container h5 {
        border-left: 2px solid black;
    }

    .preloader {
        border-width: 2px;
    }
}

/* ----------------- */
/* navbar */

.navbar {
    position: fixed;
    background: black;
    width: max-content;
    top: 1.4rem;
    left: 1rem;
    bottom: auto;
    height: 50px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar * {
    color: white;
    font-size: 1.5rem;
    font-weight: 900 !important;
}

@media screen and (max-width: 800px) {
    .navbar * {
        font-size: 1.25rem;
    }
}

/* ------------------------------- */
/* Fixed container along the very top edge */
.progress-container {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 4px;
    background: whitesmoke;
}

/* Animated active progress fill */
.progress-bar {
    height: 100%;
    width: 0%;
    background: black;
    transition: width 1s ease-out;
}