@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Sora", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -5% !important;
    color: var(--black);
}

@media screen and (max-width: 800px) {
    * {
        letter-spacing: -3% !important;
    }
}

:root {
    --one: #62d8a4;
    --two: #f6cd33;

    --black: #020202;
    --white: #fff;


    --cxo: 1000;
    --manager: 100;
    --lead: 10;
    --intern: 0;
}

/* --------------------------- */
/* section-heading */
.section-heading {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 0.5vw !important;
}

@media screen and (max-width: 1700px) {
    .section-heading {
        font-size: 2.5rem;
        margin-bottom: 1vw !important;
    }
}

@media screen and (max-width: 1200px) {
    .section-heading {
        font-size: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .section-heading {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .section-heading {
        font-size: 1.25rem;
    }
}

/* --------------------------- */
/* height adjuster */
.height-adjuster {
    height: 4rem;
    /* background: var(--two); */
}

@media screen and (max-width: 1200px) {
    .height-adjuster {
        height: 3rem;
    }
}

@media screen and (max-width: 800px) {
    .height-adjuster {
        height: 2rem;
    }
}

a,
a:before,
a:after {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

body,
html {
    /* height: 500vh; */
    scroll-behavior: smooth !important;
    max-width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

/* --------------------------- */
/* commmon width */
.common-width {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 1700px) {
    .common-width {
        max-width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .common-width {
        max-width: 90%;
    }
}

/* --------------------------- */
/* preloader */
.preloader {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100dvh;
    background: var(--two);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    overflow: hidden;
    transform: translateY(0);
    transition: transform 1.2s cubic-bezier(.76, 0, .24, 1);
}

.preloader-container {
    position: relative;
    width: 80vw;
    min-height: 15vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid yellow; */
    background: var(--two);
}

.preloader-container h2 {
    position: absolute;
    left: 0%;
    margin: 0;
    font-size: 13vw;
    line-height: 1;
    white-space: nowrap;
    z-index: 1;
    transform: translateX(-150%);
    animation:
        textEnter 1s cubic-bezier(.76, 0, .24, 1) forwards,
        textDisappear 1s cubic-bezier(.76, 0, .24, 1) 2s forwards;
}

.preloader-container h5 {
    font-size: 13vw;
    position: absolute;
    height: 100%;
    right: 0;
    width: 120vw;
    border-left: 5px solid var(--black);
    background: var(--two);
    z-index: 2;
    transform: translateX(130%);
    animation:
        borderEnter 1.5s cubic-bezier(.76, 0, .24, 1) forwards,
        borderExit 1s cubic-bezier(.76, 0, .24, 1) 2s forwards, borderLeft .5s ease 2.75s forwards;
}

@keyframes textEnter {
    0% {
        transform: translateX(-150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes textDisappear {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(250%);
    }

}

@keyframes borderEnter {
    0% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(99.75%);
    }
}

@keyframes borderExit {
    0% {
        transform: translateX(99%);
    }

    100% {
        transform: translateX(-0%);
    }
}

.preloader.hide {
    transform: translateY(-200dvh);
}

@media screen and (max-width: 1700px) {
    .preloader-container h5 {
        border-left: 3.5px solid black;
    }

    .preloader {
        border-width: 3.5px;
    }
}

@media screen and (max-width: 800px) {
    .preloader-container h5 {
        border-left: 2px solid black;
    }

    .preloader {
        border-width: 2px;
    }
}

/* ----------------- */
/* navbar */

.navbar {
    position: fixed;
    background: black;
    width: max-content;
    top: 1.4rem;
    left: 1rem;
    bottom: auto;
    height: 50px;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar * {
    color: white;
    font-size: 1.5rem;
    font-weight: 900 !important;
}

@media screen and (max-width: 800px) {
    .navbar * {
        font-size: 1.25rem;
    }
}

/* ------------------------------- */
/* Fixed container along the very top edge */
.progress-container {
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    height: 4px;
    background: whitesmoke;
}

/* Animated active progress fill */
.progress-bar {
    height: 100%;
    width: 0%;
    background: black;
    transition: width 1s ease-out;
}

/* ------------------------------------------- */
/* process-steps */
.process-steps-main {
    display: flex;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid var(--black);
    padding-bottom: 4rem;
}

.process-steps {
    flex: 1;
    min-width: 0;
    height: 300px;

    border: 3px solid var(--two);
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1.5rem;
    position: relative;

    transition: flex 0.5s ease;
}

.process-steps.active,
.process-steps:hover {
    flex: 3;
    background: var(--two);
}

.process-steps-main svg {
    flex: 0 0 2rem;
    width: 2rem;
    height: 5rem;
    margin-top: 5rem;
}

.process-steps h1 {
    font-size: 1.75rem;
    font-weight: 900;
}

.process-steps h2 {
    font-size: 1.5rem;
    margin: .5rem auto;
    font-weight: 900;
    opacity: 0;
}

.process-steps p {
    font-size: 1.25rem;
    /* opacity: 0.5; */
    opacity: 0;
}

.process-steps.active :is(h2, p, h1) {
    opacity: 1;
    /* color: var(--white); */
}

.process-steps img {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .15;
    filter: invert(2);
}

.process-steps.active img {
    opacity: .2;
}

@media screen and (max-width: 1700px) {
    .process-steps {
        height: 300px;
        padding: 1rem;
    }
}

@media (max-width: 1200px) {
    .process-steps-main {
        /* flex-direction: column; */
        gap: 1rem;
        flex-wrap: wrap;
    }

    .process-steps {
        flex: none;
        width: calc(50% - 1rem);
        height: 260px;
        transition: height 0.4s ease;
    }

    .process-steps.active,
    .process-steps:hover {
        flex: none;
        width: calc(50% - 1rem);
    }

    .process-steps h1 {
        font-size: 1.5rem;
    }

    .process-steps h2 {
        font-size: 1.25rem;
    }

    .process-steps p {
        font-size: 1.1rem;
    }

    .process-steps-main svg {
        display: none;
    }

    .process-steps-main {
        padding-bottom: 3rem;
    }
}

@media (max-width: 800px) {

    .process-steps.active,
    .process-steps:hover,
    .process-steps {
        width: 100%;
        padding: 1rem 1rem;
        height: 250px;
        border-radius: 1rem;
        border: 1px solid var(--black);
    }

    .process-steps-main {
        gap: .5rem;
        padding-bottom: 2rem;
    }

    .process-steps {
        height: 50px;
        padding: .5rem 1rem;
        border-radius: 2rem;
    }
}

/* ------------------------------------------- */
/* amazing fact */

.amazing-fact {
    min-height: 400px;
}

.amazing-fact h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 1;
}

.amazing-fact img {
    width: 100%;
    top: 0%;
    display: block;
    inset-inline: 0%;
    position: absolute;
    /* opacity: .5; */
    filter: blur(5px);
}

.amazing-fact p,
.amazing-fact p * {
    font-size: 1.5rem;
    text-align: center;
}

.amazing-fact p {
    max-width: 80%;
    margin: auto;
}

.amazing-fact p * {
    background-color: var(--two);
}

.amazing-fact h3 span {
    font-size: 5rem;
    font-weight: 900;
}

@media screen and (max-width: 1700px) {
    .amazing-fact h3 span {
        font-size: 4rem;
    }

    .amazing-fact {
        min-height: 350px;
    }

    .amazing-fact p,
    .amazing-fact p * {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1200px) {
    .amazing-fact h3 span {
        font-size: 3rem;
    }

    .amazing-fact h3 {
        font-size: 1.75rem;
    }

    .amazing-fact {
        min-height: 300px;
    }

    .amazing-fact p {
        max-width: 100%;
    }

    .amazing-fact p,
    .amazing-fact p * {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 800px) {
    .amazing-fact h3 span {
        font-size: 2rem;
    }

    .amazing-fact h3 {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .amazing-fact {
        min-height: 300px;
    }

    .amazing-fact p {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .amazing-fact p,
    .amazing-fact p * {
        font-size: 1rem;
    }

    .amazing-fact img {
        width: 150%;
        display: block;
        left: -25%;
        top: 5%;
        opacity: .75;
        filter: blur(2px);
    }
}

/* ------------------------------------------- */
/* marquee */
.marquee-loop {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    background: var(--two);
    border-block: 1px solid var(--black);

}

/* .marquee-loop-reverse {
    background: var(--one);
} */

.marquee-loop-track {
    display: flex;
    flex-wrap: nowrap;
    width: max-content;

    will-change: transform;

    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    animation: marqueeLoop 180s linear infinite;
}

.marquee-item {
    flex: 0 0 auto;
    white-space: nowrap;
    color: var(--white2);
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    border-right: 1px solid var(--black);
    /* border: 1px solid var(--black); */
    /* border-left: none; */
}

.marquee-item:last-child,
.marquee-item:first-child {
    border-inline: 1px solid var(--black);
}

.marquee-loop-reverse .marquee-loop-track {
    animation: marqueeLoopReverse 120s linear infinite;
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
}

/* @keyframes marqueeLoopReverse {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(100%, 0, 0);
    }
} */


@keyframes marqueeLoop {
    from {
        transform: translate3d(0%, 0, 0);
    }

    to {
        transform: translate3d(-90%, 0, 0);
    }
}

/* Tablet */

@media screen and (max-width: 1200px) {
    .marquee-item {
        padding: .75rem 1.5rem;
        font-size: 1.1rem;
    }

}

/* Mobile */

@media (max-width:480px) {
    .marquee-item {
        padding: .5rem 1rem;
        font-size: 1rem;
    }
}

/* Accessibility */
/* @media (prefers-reduced-motion:reduce) {
    .marquee-loop-track {
        animation: none;
    }

} */

/* ------------------------------- */
/* pricing */

.pricing {
    display: flex;
    flex-direction: column;
}

.pricing-left {
    /* background: red; */
    max-width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}

.pricing-left h2 {
    font-size: 2.5rem;
    text-align: center;
}

.pricing-right {
    display: flex;
    gap: 0rem;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    align-items: flex-start;
    justify-content: space-between;
}

.pricing-right-div {
    border: 1px solid var(--black);
    width: calc(33% - 0.5rem);
    height: 100%;
    align-self: stretch;
}

.pricing-right-div .line1 {
    border-bottom: 1px solid var(--black);
    padding: .5rem 1rem;
    font-size: 1.25rem;
}

.pricing-right-div .line2 {
    border-bottom: 1px solid var(--black);
    padding: .5rem 1rem;
    font-size: 2.5rem;
    font-weight: 900;
}

.pricing-right-div a {
    /* border: 1px solid var(--black); */
    padding: 1rem 2rem;
    display: block;
    max-width: 100%;
    text-align: center;
    background: var(--black);
    /* margin: 1rem; */
    font-weight: 900;
    color: var(--white);
}

.pricing-right-div .line3 {
    padding-block: 1rem;
}

.pricing-right-div .line3 p {
    padding-left: 2.5rem;
    font-size: 1.25rem;
    padding-block: .5rem;
    position: relative;
}

.pricing-right-div .line3 p::before {
    content: '-';
    position: absolute;
    left: 1rem;
}

.pricing-right-div a:hover {
    background: transparent;
    color: var(--black);
}

.pricing-right-div .line4 {
    padding: .5rem 1rem 1.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    position: relative;
    /* background: var(--two); */
    border-block: 1px solid var(--black);
}

.pricing-right-div .line4::after {
    content: '[ One Time Payment ]';
    position: absolute;
    font-size: 1rem;
    bottom: .25rem;
    opacity: .5;
    left: 0;
    text-align: center;
    width: 100%;
}

.pricing-right-div .line4:hover {
    background: var(--one);
}

@media screen and (max-width: 1200px) {
    .pricing-right {
        gap: 2rem;
    }

    .pricing-right-div {
        width: 100%;
    }

    .pricing-right-div .line1,
    .pricing-right-div .line3 p {
        font-size: 1rem;
    }

    .pricing-right-div .line3 {
        padding-block: .25rem;
    }

    .pricing-right-div .line2,
    .pricing-right-div .line4 {
        font-size: 1.75rem;
    }

    .pricing-right-div .line4 {
        padding: .25rem .5rem 1.25rem;
    }

    .pricing-right-div a {
        padding: .65rem 1rem;
    }

}

/* ----------------------------- */
/* success */
.success p {
    font-size: 2rem;
    opacity: .5;
    text-align: center;
}

.success img {
    display: block;
    max-width: 50%;
    margin: auto;
}

.success a {
    background: var(--one);
    padding: 0.25rem .45rem .25rem 2rem;
    border-radius: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: max-content;
    margin: 2rem auto;
}

.success a svg {
    background: var(--white);
    padding: .75rem .65rem;
    border-radius: 50%;
    transition: rotate 2s ease;
    transform: rotate(0deg);
    transition: transform .5s ease;
}

.success a:hover svg {
    transform: rotate(720deg);
}

@media screen and (max-width: 800px) {
    .success img {
        max-width: 100%;
    }

    .success a {
        margin: 1rem auto;
    }

    .success a svg {
        padding: .5rem .5rem;
    }

    .success p {
        font-size: 1.1rem;
    }
}

/* ------------------------------- */
/* FAQ */

.q-a-div-main {
    max-width: 50% !important;
    height: fit-content;
}

.q-a-div-main *::-webkit-scrollbar {
    display: none;
}

.q-a-div {
    border: 1px solid var(--black);
    margin-bottom: .5rem;
    padding: .75rem 1rem;
    cursor: pointer;
    overflow: hidden;
    transition:
        background-color .35s ease,
        border-color .35s ease;
    position: relative;
}

.q-a-div * {
    font-size: 1.25rem;
}

.q-a-div:last-child {
    margin-bottom: 0;
}

.q {
    transition:
        color .35s ease;
}

.a {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    margin-top: 0;
    color: white;

    transition:
        max-height .75s ease,
        opacity .5s ease,
        transform .5s ease,
        margin-top .5s ease;
}

.q-a-div.active {
    background: var(--black);
    padding-left: 1rem;
    border-left: .5rem solid var(--one);
}

/* ACTIVE QUESTION */
.q-a-div.active .q {
    color: var(--two);
    font-weight: 900;
}

/* ACTIVE ANSWER */
.q-a-div.active .a {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
    margin-top: .5rem;
}

@media screen and (max-width: 800px) {
    .q-a-div * {
        font-size: 1rem;
    }

    .q-a-div-main {
        max-width: 90% !important;
    }
}

/* ------------------------------ */
/* last section */

.last {
    border-top: 1px solid var(--black);
    padding-top: 5vh;
}

.last img {
    filter: invert(2);
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 1700px) {
    .last {
        padding-top: 3.5vh;
    }
}

@media screen and (max-width: 800px) {
    .last {
        padding-top: 2vh;
    }
}