@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* root */
:root {
    --white: #fff;
    --black: #010101;
    --gradient-one: linear-gradient(270deg, #f6c339, #ade0e5);
}

/* universal tag */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    font-size: 16px;
    letter-spacing: -4%;
    font-weight: 400;
    color: var(--black);
}

a {
    text-decoration: none;
    color: inherit;
}

body,
html {
    max-width: 100%;
    /* height: 500dvh; */
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.common-w-o {
    max-width: 100%;
    overflow: hidden;
}

/* -------------------- */
/* preloader */
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: var(--white);
    width: 100%;
    height: 100dvh;
    left: 0;
    top: 0;
    z-index: 100000 !important;
    transition: top 2s ease, z-index 2s ease, opacity 2s ease;
}

.preloader img {
    max-width: 6rem;
}

.preloader.hide {
    top: -200dvh;
    opacity: 0;
    z-index: -1000 !important;
}

/* -------------------- */
/* whatsapp phone */

#whatsapp-phone {
    display: flex;
    position: fixed;
    gap: .5rem;
    bottom: 2rem;
    right: 5%;
    width: max-content;
    z-index: 1000 !important;
    flex-direction: column;
}

#whatsapp-phone a {
    padding: .6rem;
    cursor: pointer;
    border: 1px solid var(--black);
}

#phone {
    background: #ade0e5;
}

#whatsapp {
    background: #f6c339;
}

/* -------------------- */
/* section one */

.section-one {
    height: 100dvh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: radial-gradient(circle, transparent 0%, #000000cb 50%, var(--black) 100%), url(./section/sec1.jpg) 50% 50% no-repeat; */
    /* background: url('https://n6ine.space/girl-coffee/bg-blurred.png') 50% 50% no-repeat; */
    background-size: cover;
    position: relative;
}

.section-one img {
    position: absolute;
    bottom: 0;
    z-index: 0;
    left: 30%;
    min-width: 40%;
    max-width: 40%;
    width: 40%;
    border: 1px solid red;
}

.section-one * {
    text-align: center;
    color: rgb(0, 0, 0);
}

.section-one h4 {
    font-size: 6rem;
    max-width: 50%;
    line-height: 1;
    z-index: 10;
    font-weight: 900;
}

.cta-common {
    display: flex;
    gap: .5rem;
    z-index: 20;
}

.cta-common a {
    background: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    font-weight: 900;
}

@media screen and (max-width: 960px) {
    .section-one {
        height: 700px;
    }
}


/* --------------------- */
/* navbar */
.navbar {
    max-width: 90%;
    width: 100%;
    left: 5%;
    top: 1rem;
    height: 50px;
    background: transparent;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    position: fixed;
    z-index: 1000 !important;
}

.navbar-clickable {
    display: none;
}

.navbar-logo {
    text-transform: capitalize;
    width: max-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    /* padding-inline: 1.5rem; */
    font-size: 1.1rem;
    background: whitesmoke;
    z-index: 100000 !important;
    border: 1px solid var(--black);
}

.navbar-logo img {
    max-height: 100%;
}

.navbar * {
    color: var(--black);
}

.responsive-lap-mobile {
    display: flex;
    width: max-content;
    gap: 5rem;
    justify-content: space-between;
    height: 100%;
}

.navbar .navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0rem;
    height: 100%;
    background: whitesmoke;
    border-right: 1px solid var(--black);
}

.navbar .navbar-menu a {
    position: relative;
    z-index: 100;
    font-size: 1.1rem;
    text-transform: capitalize;
    border: 1px solid var(--black);
    border-right: none;
    padding: 0 1rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    font-weight: 400;
    transition: background .3s ease, color .7s ease;
}

.show {
    background: var(--black) !important;
    color: white !important;
}

.navbar .navbar-menu a:hover {
    background: var(--black);
    color: white;
    transition: background .3s ease, color .7s ease;
}


@media screen and (max-width: 960px) {

    .navbar {
        top: 1rem;
        max-width: 90%;
        left: 5%;
        z-index: 10000 !important;
    }

    .responsive-lap-mobile {
        position: fixed;
        top: -200vh;
        transition: top 1s ease;
        flex-direction: column;
        width: 100%;
        left: 0%;
        border-radius: 0rem;
        z-index: 1000 !important;
        height: 100dvh;
        background: white;
        /* padding: 1rem; */
        padding-inline: 5%;
        padding-top: 75px;
        justify-content: flex-start;
        /* border: 1px solid var(--black); */
    }

    .navbar .navbar-menu a {
        border: 1px solid var(--black);
        width: 100%;
        text-align: center;
        padding: .5rem;
        font-size: 1.25rem;
        background: whitesmoke;
    }

    .navbar-logo {
        font-size: 1.25rem;
        /* padding-inline: 1rem; */
    }

    .responsive-lap-mobile.active {
        top: 0;
        transition: top 1s ease;
        z-index: 10000 !important;
    }

    .navbar .navbar-menu {
        flex-direction: column;
        gap: .5rem;
        background: white;
        border: none;
        justify-content: flex-start;

    }

    .navbar-menu a {
        font-size: 1.25rem;
        justify-content: center;
        height: 50px;
    }

    .navbar-clickable {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 50px;
        transition: transform 2s ease;
        border: 1px solid var(--black);
        background: whitesmoke;
        z-index: 100000 !important;
    }

    .navbar-clickable * {
        position: absolute;
        height: 100%;
        width: 1.25rem;
        transition:
            opacity 0.5s ease,
            transform 0.6s ease;
    }

    /* Default State */
    .navbar-clickable .hamIcon {
        opacity: 1;
        transform: rotate(0deg);
    }

    .navbar-clickable .closeIcon {
        opacity: 0;
        width: 1rem;
        transform: rotate(-1080deg);
    }

    /* Active State */
    .navbar-clickable.active .hamIcon {
        opacity: 0;
        transform: rotate(1080deg);
    }

    .navbar-clickable.active .closeIcon {
        opacity: 1;
        transform: rotate(0deg);
    }
}


/* ------------------------ */
/* footer */

.footer {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5%;
    background: var(--black);
}

.footer * {
    color: var(--white);
}

.footer-left {
    max-width: 40%;
}

.footer-left h2 {
    font-size: 1.75rem;
    font-weight: 900;
}

.footer-left p {
    margin-top: 1rem;
    opacity: .75 !important;
    font-size: 1.25rem;
}

.footer-right {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    min-width: 20%;
}

.footer-right .fr-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.footer-right .fr-div h2 {
    font-weight: 900;
    font-size: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.487);
}

.copyrights {
    background: var(--gradient-one);
    padding: 1rem 5%;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .footer {
        flex-direction: column;
        gap: 3rem;
    }

    .footer-left {
        max-width: 100%;
    }

    .footer-left h2 {
        font-size: 1.5rem;
    }

    .footer-left p {
        font-size: 1.2rem;
    }
}


/* -------------------------- */
/* marquee */

.marquee {
    width: 100%;
    overflow: hidden;
    background: var(--gradient-one);
    position: relative;
}

.marquee-footer {
    margin-bottom: 0 !important;
}

.marquee-track {
    display: flex;
    white-space: nowrap;
}

.marquee-item {
    padding: 5px 2rem;
    font-size: 1.25rem;
    flex-shrink: 0;
    color: rgb(8, 8, 8);
    border: 1px solid rgb(0, 0, 0);
    border-right: none;
    padding-block: 1rem;
}

@media screen and (max-width: 800px) {
    .marquee {
        margin: 0 0 2rem;
    }

    .marquee-item {
        padding-block: .75rem;
        font-size: 1.15rem;
    }
}


/* ---------------- */
.iframe-info {
    display: flex;
    padding: 5rem 5%;
    gap: 4%;
}

.iframe-info .iframe-left {
    max-width: 65%;
    min-width: 65%;
}

.iframe-info .iframe-left iframe {
    width: 100%;
    height: 500px;
}

.iframe-info .info-right {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.info-right div {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    justify-content: flex-start;
}

.info-right div svg {
    margin-top: .25rem;
}

.info-right div h2 {
    min-width: 22%;
    font-weight: 400;
}

.info-right div p {
    text-align: left;
    max-width: 60%;
}

.info-right div * {
    font-size: 1.25rem;
    line-height: 1.5;
}

@media screen and (max-width: 1700px) {
    .iframe-info {
        padding-inline: 5%;
    }

    .iframe-info .iframe-left {
        max-width: 60%;
        min-width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .iframe-info {
        flex-direction: column;
        padding-block: 3rem;
    }

    .iframe-info .iframe-left {
        max-width: 100%;
        min-width: 100%;
    }

    .info-right div h2 {
        min-width: 25%;
    }

    .info-right div {
        gap: .5rem;
    }

    .info-right div svg {
        margin-top: .2rem;
    }

    .info-right div * {
        font-size: 1.1rem;
        line-height: 1.4;
    }

    .iframe-info .iframe-left iframe {
        height: 350px;
        margin-bottom: 2rem;
    }
}

/* ------------------------------- */
/* contact-one */

.contact-one {
    background: linear-gradient(120deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4)), url('https://n6ine.space/girl-coffee/bg-blurred.png') 40% 50% no-repeat;
    background-size: cover;
    min-height: 75dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
}

.contact-one * {
    color: var(--white);
    text-align: center;
}

.contact-one h2 {
    font-size: 4rem;
    font-weight: 900;
    max-width: 60%;
    line-height: 1;
    margin-bottom: 1rem;
}

.contact-one p {
    font-size: 1.5rem;
    max-width: 50%;
    opacity: .75 !important;
}

@media screen and (max-width: 1700px) {

    .contact-one h2,
    .contact-one p {
        max-width: 70%;
    }

    .contact-one {
        min-height: 90dvh;
    }
}

@media screen and (max-width: 960px) {
    .contact-one h2 {
        font-size: 1.75rem;
        font-weight: 900;
        margin-bottom: 1rem;
        line-height: 1.1;
        max-width: 100%;
    }

    .contact-one {
        min-height: 500px;
        padding: 3rem 5%;
    }

    .contact-one p {
        font-size: 1.25rem;
        max-width: 100%;
    }
}

/* ------------------------- */
/* swiper-testimonial */

.swiper-testimonial {
    margin: 0 auto 5rem;
    max-width: 90%;
    padding-bottom: 4rem !important;
    position: relative;
    /* background: rgb(217, 229, 201); */
}

.swiper-btns {
    background: var(--gradient-one);
    padding: 1rem;
    position: relative;
    display: block;
}

.nav-div {
    position: absolute;
    display: flex;
    right: -.5rem;
    justify-content: flex-start;
    min-width: 5.75rem;
    bottom: 1.5rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.2rem !important;
    color: var(--white) !important;
}

.swiper-testimonial .swiper-slide .stars * {
    fill: goldenrod;
    font-size: 1.5rem;
}

.swiper-testimonial .swiper-slide .content {
    font-size: 1.5rem;
    margin: 1rem 0;
    opacity: .5 !important;
}

.swiper-testimonial .swiper-slide .name {
    font-size: 1.25rem;
    font-weight: 900;
}

.swiper-testimonial .swiper-slide {
    background: whitesmoke;
    padding: 2rem;
}

@media screen and (max-width: 960px) {
    .swiper-testimonial .swiper-slide .content {
        font-size: 1.25rem;
        margin: 1.5rem 0;
    }

    .swiper-testimonial .swiper-slide .stars * {
        font-size: 1.25rem;
    }

    .swiper-testimonial {
        margin: 0 auto 2rem;
    }

    .swiper-testimonial .swiper-slide .name {
        font-size: 1.35rem;
    }
}